@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Manrope:wght@400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 2%;
        --foreground: 0 0% 100%;
        --card: 0 0% 4%;
        --card-foreground: 0 0% 100%;
        --popover: 0 0% 4%;
        --popover-foreground: 0 0% 100%;
        --primary: 145 100% 45%;
        --primary-foreground: 0 0% 0%;
        --secondary: 0 0% 8%;
        --secondary-foreground: 0 0% 100%;
        --muted: 0 0% 10%;
        --muted-foreground: 240 5% 65%;
        --accent: 205 100% 50%;
        --accent-foreground: 0 0% 100%;
        --destructive: 348 100% 55%;
        --destructive-foreground: 0 0% 100%;
        --border: 240 4% 16%;
        --input: 240 4% 16%;
        --ring: 145 100% 45%;
        --chart-1: 145 100% 45%;
        --chart-2: 348 100% 55%;
        --chart-3: 205 100% 50%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0px;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-family: 'Manrope', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@layer base {
    [data-debug-wrapper="true"] {
        display: contents !important;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #050505;
}
::-webkit-scrollbar-thumb {
    background: #27272a;
}
::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
}
